body {
  margin: 0%;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: brown;
}

.slider-container {
  position: relative;
  width: 600;
  height: 400;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.image-container {
  display: flex;
  transition: 30ms ease-out;
}

.btn {
  position: absolute;
  color: azure;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
}

.btn.prev {
  left: 10px;
}

.btn.next {
  right: 10px;
}

.btn:hover {
  opacity: 1;
}